@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="row">
    <h1>History</h1>
    <p>The society was formed in October 1981 following a chance meeting between Ron Massam and Stan Kellet at the Bengeo Working Men's Club annual dinner.
    The dinner was help at Castle Hall, Hertford in September 1981. Ron and Stan happened to be placed at the same table and a couple of drinks into the conversation
    Ron said:, "It's about time The Working Men's Club has a golf section." Stan protested: "But I've never actually played, I've only had a few lessons." However, 
    several more drinks later Stan agreed to place an invitation on the club's notice board. There was surprisingly very good support 
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Captain 2017: Bob Smith</h4>
        <img class="img-thumbnail" src="~/Content/Images/Captains/BobSmith.jpg" alt="Bob Smith" />
        <br/>
        <p>It is my pleasure in being this year Captain....</p>
        <p>@Html.ActionLink("View Profile", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <div class="row">
            <p>@Html.ActionLink("Annual General Meeting", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
            <br />
            <p>@Html.ActionLink("Newsletters", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
            <br />
            <p>@Html.ActionLink("Past Captains", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
            <br />
            <p>@Html.ActionLink("Order of Merit", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
    </div>
</div>